@define-color base            #232136;
@define-color surface         #2a273f;
@define-color overlay         #393552;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ea9a97;
@define-color pine            #3e8fb0;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #2a283e;
@define-color highlightMed    #44415a;
@define-color highlightHigh   #56526e;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

window#waybar {
    background-color: @base;
    color: @text
}
#workspaces button {
    padding: 0 6px;
    color: @gold;
    background: transparent;
    border-bottom: 3px solid @pine;
}
#workspaces button.active {
    color: @gold;
    border-bottom: 3px solid @love;
}
#workspaces button.empty {
    color: @gold;
    border-bottom: 3px solid @pine;
}
#workspaces button.empty.active {
    color: @muted;
    border-bottom: 3px solid @pine;
}


#window {
    color: @text;
    border-bottom: 3px solid @pine;
}

#sep {
    color: @text;
}


#network {
    padding: 0 15;
    color: @rose;
    border-bottom: 3px solid @pine;
}
#cpu {
    color: @rose;
    border-bottom: 3px solid @pine;
}
#memory {
    color: @foam;
    border-bottom: 3px solid @pine;
}
#language {
    color: @foam;
    border-bottom: 3px solid @pine;
}
#clock {
    color: @foam;
    border-bottom: 3px solid @pine;
}
#tray {
    border-bottom: 3px solid @pine;
}

